/* ==========================================================================
   Animations // fades etc //
   ========================================================================== */

@-moz-keyframes spin { 
	100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spin-gear {
	-webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
}


/* ==========================================================================
   Logo positioning responsive
   ========================================================================== */


/* Extra small devices (phones, less than 768px) */
.logo-home {
	position: absolute;
	width: 40%;
	top: 80px;
	left: 30%;
}


/* Small devices (tablets, 500px and up) */
@media (min-width: 500px) {
	.logo-home {
		position: absolute;
		width: 40%;
		top: 140px;
		left: 30%;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 960px) {
	.logo-home {
		position: absolute;
		width: 40%;
		top: 200px;
		left: 30%;
	}
}





/* ==========================================================================
   Main Home Style
   ========================================================================== */


.home-main-content {
	.welcomes-text {
		padding: 0;
		padding-top: 3%;
		padding-bottom: 3%;
		padding-left: 3%;
		padding-right: 3%;
		margin-top: 1%;
		margin-bottom: 1%;
		background-color: $bright-blue;
		text-align: center;

		h2 {
			padding: 0;
			margin: 0;
			font-family: $font-1;
			color: $dark-blue;
			font-size: $h2-font;
		}
		h3 {	
			padding: 0;
			margin: 0;
			color: $dark-blue;
			font-family: $font-1;
		}
	}
}

.desk-image-home {
	width: 100%;
}


.home-bottom-box {
	text-align: center;
	padding-bottom: 15px;

		img {
			width: 100%;
		}

		a {
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
		}
}







